/**********BASE CONFIGURATIONS**********/

body {
	background:#1f1f1f;
    font-family: 'Open Sans', sans-serif;
}

h1 {
font-family: 'Raleway', sans-serif;}

h3,h4 , h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight:lighter;
}

h2{
	font-size:22px;
}

h3 {
	font-size:46px;
	color:#b2c831
}

h5 {
    color:#b2c831;
    margin-left:5px;
}



/***********BLOCKS & WRAPS***********/

.dash-unit {
    margin-bottom: 5px;
    border: 1px solid #383737;
    background-image:url('../img/sep-half.png');
    background-color: #3d3d3d;
    color:white;
    text-align:center;
	  border-radius:10px;
}

.dash-unit:hover {
    background-color: #4f4f4f;
    -moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;

}

.dash-unit dtitle {
	font-size:11px;
	text-transform:uppercase;
	color:#ffffff;
	margin:8px;
	padding:0px;
	height:inherit
	}

.dash-unit hr {
  	border: 0;
  	border-top: 1px solid #151515;
  	border-top-style: dashed;
	margin-top:3px;
  	margin-bottom: 3px;
}

.dash-unit h1 {
	font-family: 'Raleway', sans-serif;
	font-weight:300;
	font-size: 20px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #ffffff;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}

.dash-unit h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 30px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #ffffff;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;
}


.dash-unit h3 {
	font-weight:300;
	font-size: 15px;
	line-height: 2px;
	letter-spacing: 0px;
	color: #b2c831;
	padding-top:10px;
	padding-left:5px;
	margin-top:2px;
	text-align:center;


}


.dash-unit p {
	font-size: 14px;
	font-weight: 200;
	line-height: 16px;
	color: inherit;
	margin: 0 0 10px;
	padding:5px;
 }

.dash-unit h4 {
	padding-left:5px;
	margin-top:2px;
	font-size: 13px;
	font-weight:lighter;
	line-height: 1;
	letter-spacing: 0px;
	color: #fff;
}

.dash-unit bold{
	font-family: 'Open Sans', sans-serif;
	font-size:26px;
	font-weight:bold;
	color:#fff;
	vertical-align:middle;
}

.show-title{
    display:inline-block;
    width:100%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    color: #b2c831;

}
.show-name{
    display:inline-block;
    width:100%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    font-weight:bold;
}
.show-time{
    background-color: red;
    color: #000000;
    font-weight:bold;

}

.today-header{
    border-radius:15px;
    height:20px;
}

.empty-list{
	color:#FFFFFF;
	text-align:center;
	margin-bottom: 5px;
}
/***********Bootstrap Default Modifications***********/

.thumbnail {
	border:0px;
	text-align:center;
  -webkit-box-shadow: 0px;
     -moz-box-shadow: 0px;
          box-shadow: 0px;
    background: none;
    text-align: center;

}

.weather-thumbnail {
	max-width:125px;
}

.main-weather{
	display: inline-block;
	width:200px;
	height:260px;
}

.main-weather-thumbnail{
	 max-width:160px;
}
